body {
    height: 100vh;
    width: 100vw;
}
.navbar {
   width: 100vw; 
}
.texto {
    text-indent: 2em;
    margin: 1em;
}
.content-fluid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
    
